{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <meta charset="UTF-8">
    <title>LoL E-sports polls Home</title>
  </head>
  <body>
    <header><div class="header">Welcome to LoL E-sports polls!</div></header>
    <div class = "topnav">
         <a href="/pj04/static/schema.html">Schema</a>
         <a href="/pj04/admin">Admin</a>
         <a href="/pj04/polls">Polls</a>
         <a href="/pj04">Home</a>
    </div>
    <h2>Get out there and vote!</h2>
    <h4>Vote on what you know and don't know on League of Legends E-sports</h4>
      <img id="rise" src="./static/polls/images/rise.gif">
  </body>
</html>
